@font-face {
	font-family: 'Pier Sans';
	src: url('../fonts/PierSans.eot');
	src: url('../fonts/PierSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PierSans.woff2') format('woff2'),
		url('../fonts/PierSans.woff') format('woff'),
		url('../fonts/PierSans.ttf') format('truetype'),
		url('../fonts/PierSans.svg#PierSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "Pier Sans";
}

.control {
  padding-top: 110px;
  color: #ff284d;
}

.control:hover {
  color: #171414;
}

.contact-div a{
  color: #171414; 
}

.contact-div a:hover {
  color: #ff284d;
}

ul {
    list-style-type: none;
}

.badge-notify{
   background: #323333;
   position:absolute;
   top: 45%;
   left: 90%;
   z-index: 10;
   opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

#collapse {
  background-color: transparent;
  border-color: transparent;
}

.TeamImage {
  position: relative;
}

.TeamImage:hover .badge-notify {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.badge-notify:hover {
  background: #ff284d;
}

.dim {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
  position: absolute;
  color: #fff;
  top: 30%;
  width: 100%;
}

.title h1 {
  font-size: 120px
}

.theme-input {
  background-color: rgba(0,0,0,0.0);
  color: #fff;
  margin: 10px;
  border-color: #ff284d;
}

.signup {
  margin-top: 1em;
}


.theme-color {
  color: #ff284d;
}

.go-down {
  position: absolute;
  top: 90%;
  width: 100%;
}

.go-down a {
  color: #fff;
}

.go-down i:hover {
  color: #ff284d;
}

.btn-theme {
  color: #ff284d;
  background-color: rgba(255,255,255,0.0);
  margin: 10px;
  border-color: #ff284d;
}

.btn-theme:hover {
  color: #fff;
  background-color: #ff284d;
  border-color: #ff284d;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

#speakers {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.schedule-back {
  color: #323333;
  border: 0.25px solid #f3f3f3;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.schedule-back:hover {
  border: 0.25px solid #ff284d;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.schedule-back img {
  border: 5px solid #f7f7f7;
}

.white-back {
  color: #323333;
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 75px;
}

.grey-back {
  color: #323333;
  background-color: #f9f9f9;
  padding-top: 75px;
  padding-bottom: 75px;
}

.grey-box {
  color: #323333;
  background-color: #f3f3f3;
  padding-top: 75px;
  padding-bottom: 75px;
}

.grey-img-back {
  color: #fff;
  background-image: url('../images/general/grey_triangle.jpg');
  height: 300px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.dark-grey-back {
  color: #fff;
  background-color: #171414;
  padding-top: 75px;
  padding-bottom: 75px;
}

#map {
    width: 100%; height: 400px;
}

.wrapper {
    position: relative;
}

.contact {
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0px;
  right: 100px;
  width: 400px;
  height: 400px;
  z-index: 10;
}



.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:100%;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 15px;
    padding-bottom: 10px;
}

.DocumentItem
{
    background: #f7f7f7;
    padding:10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

.DocumentItem img {
  border: 5px solid #fff;
}

.DocumentItem:hover {
  color: #ff284d;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
} 

.DocumentItem:hover img {
  border: 5px solid #ff284d;
}

.TeamItem
{
    color: #ff284d;
    padding:10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.TeamItem img {
  border: 1px solid #ff284d;
}

.TeamItem:hover {
  color: #323333;
} 

.TeamItem:hover img {
  border: 1px solid #323333;
}

.PartnerItem img{
  width: 100%;
}

.PartnerItem {
  padding: 2px;
}

.custom-carousel {
  margin-top: 15px;
}

.list-inline {
  white-space:nowrap;
}

.footer-distributed{
	background-color: #171414;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 10px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 400px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.footer-distributed .footer-right a:hover {

	color: #ff284d;
}

/* If you don't want the footer to be responsive, remove these media queries */

.navbar-custom {
  margin-bottom: 0;
  text-transform: lowercase;
  background-color: #171414;
  font-size: 16px;
}
.navbar-custom .navbar-toggle {
  color: #fff;
  background-color: #171414;
  font-size: 16px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  float: left;
  height: 58px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: normal;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  outline: 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #ff284d;
  outline: 0;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  color: #ff284d;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background-color: #171414;
  }
}

@media (max-width: 600px) {


	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

@media (max-width: 900px) {
  .contact {
    position: static; 
    width: 100%;
    background-color: #171414;
  }
}


@media (max-width: 500px) {
  .title h1 {
    font-size: 60px
  }

  .title h3 {
    font-size: 18px
  }
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1.25s;
	-moz-animation-duration:1.25s;
	animation-duration:1.25s;
}

.fade-in.one {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.fade-in.two {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.fade-in.three {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.fade-in.four {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

form {
		margin: 0 0 2em 0;
	}

		form .message {
			text-decoration: none;
			-moz-transition: opacity 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
			height: 2.75em;
			line-height: 2.75em;
			opacity: 0;
		}

			form .message:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			form .message:before {
				margin-right: 0.5em;
			}

			form .message.visible {
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			}

			form .message.success {
				color: #ff284d;
			}

				form .message.success:before {
					content: '\f00c';
				}

			form .message.failure {
				color: #ff2361;
			}

				form .message.failure:before {
					content: '\f119';
				}

	label {
		color: #fff;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	@-moz-keyframes focus {
		0% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-moz-transform: scale(1.025);
			-webkit-transform: scale(1.025);
			-ms-transform: scale(1.025);
			transform: scale(1.025);
		}

		100% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}

	@-webkit-keyframes focus {
		0% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-moz-transform: scale(1.025);
			-webkit-transform: scale(1.025);
			-ms-transform: scale(1.025);
			transform: scale(1.025);
		}

		100% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}

	@-ms-keyframes focus {
		0% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-moz-transform: scale(1.025);
			-webkit-transform: scale(1.025);
			-ms-transform: scale(1.025);
			transform: scale(1.025);
		}

		100% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}

	@keyframes focus {
		0% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-moz-transform: scale(1.025);
			-webkit-transform: scale(1.025);
			-ms-transform: scale(1.025);
			transform: scale(1.025);
		}

		100% {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-moz-transition: border-color 0.2s ease, background-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
		-ms-transition: border-color 0.2s ease, background-color 0.2s ease;
		transition: border-color 0.2s ease, background-color 0.2s ease;
		background-color: transparent;
		border-radius: 6px;
		border: none;
		border: solid 2px rgba(255, 255, 255, 0.35);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			-moz-animation: focus 0.1s;
			-webkit-animation: focus 0.1s;
			-ms-animation: focus 0.1s;
			animation: focus 0.1s;
			background-color: rgba(255, 255, 255, 0.125);
			border-color: #ff284d;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(255, 255, 255, 0.35);
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.75);
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.125);
				border-radius: 6px;
				border: solid 2px rgba(255, 255, 255, 0.35);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #ff284d;
			border-color: #ff284d;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #ff284d;
			box-shadow: 0 0 0 2px #ff284d;
		}

	input[type="checkbox"] + label:before {
		border-radius: 6px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

#signup-form {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		position: relative;
	}

		#signup-form input[type="text"],
		#signup-form input[type="password"],
		#signup-form input[type="email"] {
			width: 18em;
		}

		#signup-form > * {
			margin: 0 0 0 1em;
		}

		#signup-form > :first-child {
			margin: 0 0 0 0;
		}

		@media screen and (max-width: 480px) {

			#signup-form {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#signup-form input[type="type"],
				#signup-form input[type="password"],
				#signup-form input[type="email"] {
					width: 100%;
				}

				#signup-form > * {
					margin: 1.25em 0 0 0;
				}

				#signup-form .message {
					bottom: -1.5em;
					font-size: 0.9em;
					height: 1em;
					left: 0;
					line-height: inherit;
					margin-top: 0;
					position: absolute;
				}

		}
