doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title mathscon
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/owl.theme.css', rel='stylesheet')
    link(href='css/owl.transitions.css', rel='stylesheet')
    // Custom CSS
    link(href='css/main.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body(data-spy="scroll" data-target=".navbar" data-offset="75")
    // Navigation
    
    .example3
      nav.navbar.navbar-inverse.navbar-fixed-top.page-scroll
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar3')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              img(src='logo.png')
          #navbar3.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='#about') about
              li
                a.page-scroll(href='#schedule') schedule
              li
                a.page-scroll(href='#speakers') speakers
              li
                a.page-scroll(href='#partners') partners
              li
                a.page-scroll(href='#tickets') tickets
              li
                a.page-scroll(href='#organizers') organizers
              li
                a.page-scroll(href='#contact') contact us
          // /.nav-collapse
        // /.container-fluid

    // Full Page Image Background Carousel Header
    header#myCarousel.carousel.carousel-fade
      // Indicators
      // Wrapper for Slides
      .carousel-inner
        .item.active
          // Set the first background image using inline CSS below.
          img.fill(src='bg01.jpg')
          .dim
            .title.text-center
              h1 mathscon.
              h3.theme-color bringing together brilliant minds of the world
            .go-down.text-center
              a(href='#about')
                i.fa.fa-chevron-down.fa-3x(aria-hidden='true')

    // Page Content
    #about.container-fluid.white-back
          .col-lg-4.col-lg-offset-2 
            .row
              h3 about event
              p Mathscon is a full day conference founded by mathematics students of Imperial College London. Our goal is to bring together bright minds to give talks that are idea-focused, and on a wide range of subjects, to foster learning, inspiration and wonder – and provoke conversations that matter.
            .row
              hr
              h3 detail event
              p Blank for now.
          .col-lg-4.white-box(style='margin:20px; border-style:solid; border-width:7px; border-color:#f7f7f7; padding-top:20px; padding-bottom:20px;')
            .row
              .col-lg-1.col-lg-offset-1.text-center
                h5
                  i.fa.fa-calendar
              .col-lg-8
                h5 10-11th February 2017
            .row
              .col-lg-1.col-lg-offset-1.text-center
                h5
                  i.fa.fa-graduation-cap
              .col-lg-8
                h5 5+ Universities
            .row
              .col-lg-1.col-lg-offset-1.text-center
                h5
                  i.fa.fa-users
              .col-lg-8
                h5 200 Tickets
            .row
              .col-lg-1.col-lg-offset-1.text-center
                h5
                  i.fa.fa-microphone
              .col-lg-8
                h5 10 Speakers
            .row
              .col-lg-1.col-lg-offset-1.text-center
                h5
                  i.fa.fa-map-marker
              .col-lg-8
                h5 Imperial College South Kensington Campus, Blackett Building, London, SW7 2AZ
            br
            .row
              .col-lg-11.col-lg-offset-1
                .btn.btn-theme Subscribe for updates

    #schedule.container-fluid.grey-back
      .col-lg-12.text-center
        .row
            h1 Schedule
        br
        .row
          .col-lg-8.col-lg-offset-2.schedule-back 
            .col-lg-2
              img.img-circle(src='avatar.jpg' height='100px')
            .col-lg-2
              h5 25 Mar
              h5 2016
              h5 09.10 PM
            .col-lg-4
              h4 Update Design and UX support
            .col-lg-4
              h5 Venue: Huxley Building, Imperial College London.

    #speakers.container-fluid.white-back
      .row.text-center
          h3 Speakers
      br
      .row.text-center
        .col-lg-1.col-lg-offset-1.control.text-center
          i.fa.fa-chevron-left.fa-2x.btn-theme(aria-hidden='true')
        .col-lg-8
          #speakers-owl.owl-carousel
            .DocumentItem.text-center
              img.img-circle(src='avatar.jpg' width='75%')
              h5 Abhinav Mishra
              h6 Webmaster
            .DocumentItem.text-center
              img.img-circle(src='avatar.jpg' width='75%')
              h5 Abhinav Mishra
              h6 Founder
            .DocumentItem.text-center
              img.img-circle(src='avatar.jpg' width='75%')
              h5 Abhinav Mishra
              h6 Webmaster
            .DocumentItem.text-center
              img.img-circle(src='avatar.jpg' width='75%')
              h5 Abhinav Mishra
              h6 Webmaster
        .col-lg-1.control.text-left
          i.fa.fa-chevron-right.fa-2x.btn-theme(aria-hidden='true')

    #partners.container-fluid.dark-grey-back
      .col-lg-12.text-center
        .row
            h1 Partners
        br
        .row
           .col-lg-2.col-lg-offset-1(style='border-right: 1px solid #252020;')
             img(src='docsoc.png' width='100%')
           .col-lg-2(style='border-right: 1px solid #252020;')
             img(src='docsoc.png' width='100%')
           .col-lg-2(style='border-right: 1px solid #252020;')
             img(src='docsoc.png' width='100%')
           .col-lg-2(style='border-right: 1px solid #252020;')
             img(src='docsoc.png' width='100%')
           .col-lg-2
             img(src='docsoc.png' width='100%')
        
    #tickets.container-fluid.fill.grey-img-back
      .col-lg-12.text-center
        .row
            h1 Tickets
        br
        .row
          .col-lg-8.col-lg-offset-2.schedule-back 
            h2 Eventbrite plugin here

    #organizers.container-fluid.grey-back
      .row.text-center
          h3 Team
          .col-lg-12
              ul.list-inline
                li.TeamItem.text-center
                  img.img-circle(src='avatar.jpg' width='75%')
                  h5 Abhinav Mishra
                  h6 Webmaster
                li.TeamItem.text-center
                  img.img-circle(src='avatar.jpg' width='75%')
                  h5 Abhinav Mishra
                  h6 Webmaster
                li.TeamItem.text-center
                  img.img-circle(src='avatar.jpg' width='75%')
                  h5 Abhinav Mishra
                  h6 Webmaster
                li.TeamItem.text-center
                  img.img-circle(src='avatar.jpg' width='75%')
                  h5 Abhinav Mishra
                  h6 Webmaster

    #contact.wrapper
      #map
      .contact
        .col-lg-10.col-lg-offset-1
          br
          form
            input.form-control(type='text', id='name', placeholder='Name*', required)
            br
            input.form-control(type='email', id='email', placeholder='Email*', required)
            br
            input.form-control(type='text', id='title', placeholder='Title')
            br
            textarea.form-control(rows='5', id='message', placeholder='Message*', required)
            br
            .btn.btn-theme Submit
          

    .container-fluid.grey-back
      .row
        .container
          .col-lg-2.col-lg-offset-3.text-center
            h3.glyphicon.glyphicon-inbox
            h4 Email
          .col-lg-2.text-center
            h3.glyphicon.glyphicon-earphone
            h4 Phone
          .col-lg-2.text-center
            h3.glyphicon.glyphicon-tower
            h4 Venue

    footer.footer-distributed
      .container-fluid
        .col-lg-8.col-lg-offset-2
          .footer-right
            a(href="#")
              i.fa.fa-facebook

    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    script(src='js/maps.js')
    script(src='js/navbar.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.easing.min.js')
    script(src='js/scrolling-nav.js')
    script(src='js/speakers.js')
    script(src='http://maps.google.com/maps/api/js?key=AIzaSyAJcu4LfSHQ6Qv1T8MHWSklFl0g1Y4B49Y&sensor=false')
    // Script to Activate the Carousel
