#about.container-fluid.white-back.text-center
  .col-lg-10.col-lg-offset-1
    .row
      h3 What is mathscon?
      p Mathscon is a science conference directed at young researchers, PhD students and undergraduates interested in mathematics and its related fields. Event aims to expose the public to different activities to make them realize how truly amazing Mathematics is. Renowned speakers will give inspirational lectures. Intellectual workshops will be organised in order to illustrate the applications of the mother of all sciences. And finally the conference will end with an engaging social event during which, one will have the chance to discuss anything with the organisers, speakers and other guests.

    .row
      h3 Why mathscon?
      p We are a group of a students who admire the beauty of Mathematics. Mathematics is about the concept, not the calculations. It is about shaping thought, not following rules. And we want everyone to know about this. Our mission is to reshape the world's perception of Mathematics.
      p As we all are subject enthusiasts, we are also sharing the experience of doing research, learning similar modules or stumbling upon hard questions in Mathematics. In an attempt to collaborate and find synergy from our knowledge around the World in a single place we invite you to London – a place you will surely fit in!
