#contact.wrapper
  #map
  .contact.text-center
    .col-lg-10.col-lg-offset-1
      br
      form
        input.form-control(type='text', id='name', placeholder='Name*', required)
        br
        input.form-control(type='email', id='email', placeholder='Email*', required)
        br
        input.form-control(type='text', id='title', placeholder='Title')
        br
        textarea.form-control(rows='5', id='message', placeholder='Message*', required)
        br
        .btn.btn-theme Submit
      

.container-fluid.grey-back
  .row.text-center
    .container.contact-div
      .col-lg-2.col-lg-offset-2
        a(href='mailto:organizers.mathscon@gmail.com')
          h3.fa.fa-envelope-o.fa-3x
          h4 Email
      .col-lg-2
        a(href='tel:+447546668082')
          h3.fa.fa-phone.fa-3x
          h4 Phone
      .col-lg-2
        a(href='http://bit.ly/mathscon-venue')
          h3.fa.fa-map-marker.fa-3x
          h4 Venue
      .col-lg-2
        a(href='https://www.facebook.com/mathsconference/')
          h3.fa.fa-facebook-square.fa-3x
          h4 Social
