header#myCarousel.carousel.carousel-fade
  .carousel-inner
    .item.active
      ul.cb-slideshow
        li
          span Image 01
        li
          span Image 02
        li
          span Image 03
        li
          span Image 01
        li
          span Image 02
        li
          span Image 03
      .dim
        .title.text-center
          .row
            h1.fade-in.one mathscon.
            h3.theme-color.fade-in.two numbers. progress.
          .row.signup
            form#signup-form.fade-in.three.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2(action="https://mathscon.us13.list-manage.com/subscribe/post?u=cc6762cf17f84ce5eafc553b6&amp;id=d00bdf3fa4" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
              input.theme-input(type='email', value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder='Email' required)
              button.btn.btn-theme(type='submit' id="mc-embedded-subscribe") Subscribe for updates
        .go-down.text-center.fade-in.four
          a(href='#about').page-scroll
            i.fa.fa-chevron-down.fa-3x(aria-hidden='true')
