#when-where.text-center.container-fluid.remove-left-right-pad
  .col-lg-6.dark-grey-back
    .row
      i.fa.fa-calendar.fa-5x.theme-color
      h2 10-11 February 2017
  .col-lg-6.dark-grey-back
    .row
      i.fa.fa-map-marker.fa-5x.theme-color
      h2 Imperial College London
#logistics.container-fluid
  .col-lg-6
    h2 The Blackett Laboratory
  .col-lg-6.remove-left-right-pad
    #map

