.example3
  nav.navbar.navbar-inverse.navbar-fixed-top.page-scroll.fade-in.four
    .container
      .navbar-header
        button#collapse.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand.page-scroll
          //img(src='images/general/logo.png')
          h2 mathscon.
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a.page-scroll(href='#about') about
          li
            a.page-scroll(href='#schedule') schedule
          li
            a.page-scroll(href='#speakers') speakers
          li
            a.page-scroll(href='#partners') partners
          li
            a.page-scroll(href='#tickets') tickets
          li
            a.page-scroll(href='#organizers') organizers
          li
            a.page-scroll(href='#contact') contact us
