#organizers.container-fluid.grey-back
  .row.text-center
      h1 Organizers
  .row.text-center.custom-carousel
      .col-xs-1.col-lg-1.control.text-right
        i.fa.fa-chevron-left.fa-2x#team-prev(aria-hidden='true')
      .col-xs-10
        #team-owl.owl-carousel
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/nikita-devyataykin-0a7182106?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwNikita.png' width='75%')
            h5 Nikita
            h6 Co-founder
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/mateusz-jakub-staniszewski-19946590?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwMateusz.png' width='75%')
            h5 Mateusz
            h6 Co-founder
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/attarali?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwAli.png' width='75%')
            h5 Ali
            h6 Project Director
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/aurelien-favre-a3bab0112?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwAureliene.png' width='75%')
            h5 Aurelien
            h6 Logistics and Liaison Officer
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/david-p-klambauer-359509105?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwDavid.png' width='75%')
            h5 David
            h6 Finanace Officer
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/abhinav-mishra-114aa9b3?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwAbhinav.png')
            h5 Abhinav
            h6 Webmaster
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/marta-kościelak-4b47a087?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwMarta.png' width='75%')
            h5 Marta
            h6 Marketing Officer
          .TeamItem.text-center
            .TeamImage
              a(href='https://www.linkedin.com/in/georgina-stephanou-b74a3a128?')
                span.badge.badge-notify
                  i.fa.fa-linkedin.fa-2x
              img.img-circle(src='images/team/teambwGeorgina.png' width='75%')
            h5 Georgina
            h6 Communication Officer
      .col-lg-1.col-xs-1.control.text-left
        i.fa.fa-chevron-right.fa-2x#team-next(aria-hidden='true')
