#organizers.container-fluid.grey-back
  .row.text-center
      h1 Organizers
  .row.text-center
      .col-xs-1.col-xs-offset-1.col-lg-1.col-lg-offset-1.control.text-right
        i.fa.fa-chevron-left.fa-2x(aria-hidden='true')
      .col-xs-8
        #team-owl.owl-carousel
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwNikita.png' width='75%')
              h5 Nikita
              h6 Co-founder
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwMateusz.png' width='75%')
              h5 Mateusz
              h6 Co-founder
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwAli.png' width='75%')
              h5 Ali
              h6 Graphics Designer
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwAureliene.png' width='75%')
              h5 Aureliene
              h6 Logistic and Liaison Officer
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwDavid.png' width='75%')
              h5 David
              h6 Sponsorship Officer
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwHector.png' width='75%')
              h5 Hector
              h6 Budget Officer
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwAbhinav.png' width='75%')
              h5 Abhinav
              h6 Webmaster
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwMarta.png' width='75%')
              h5 Marta
              h6 Marketing Officer
            .TeamItem.text-center
              img.img-circle(src='images/team/teambwGeorgina.png' width='75%')
              h5 Georgina
              h6 Communications Officer
      .col-lg-1.col-xs-1.control.text-left
        i.fa.fa-chevron-right.fa-2x(aria-hidden='true')
