#partners.container-fluid.dark-grey-back
  .row
    .col-lg-12.text-center
        h1 Partners

  .row.custom-carousel
    .col-xs-10.col-xs-offset-1.text-center
      #partners-owl.owl-carousel
         .PartnerItem
           a(href='http://www.ucl.ac.uk/~ucahadm/index1310.html')
             img(src='images/partners/ucl.png')
           h5.theme-color Mathematics Society
           h5.theme-color University College London
         .PartnerItem
           a(href='http://www.archim.org.uk/')
             img(src='images/partners/cambridge.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  University of Cambridge
         .PartnerItem
           a(href='https://www.union.ic.ac.uk/rcsu/mathsoc/')
             img(src='images/partners/imperial.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  Imperial College London
         .PartnerItem
           a(href='https://invariants.org.uk/')
             img(src='images/partners/oxford.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  University of Oxford
         .PartnerItem
           a(href='http://warwickmaths.org/')
             img(src='images/partners/warwick.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  University of Warwick
