#partners.container-fluid.dark-grey-back
  .row
    .col-lg-12.text-center
        h1 Partners

  .row.custom-carousel.text-center
      .col-xs-8.col-xs-offset-2.col-lg-2.col-lg-offset-1.PartnerItem
           a(href='http://www.ucl.ac.uk/~ucahadm/index1310.html')
             img(src='images/partners/ucl.png')
           h5.theme-color Mathematics Society
           h5.theme-color University College London
      .col-xs-8.col-xs-offset-2.col-lg-2.col-lg-offset-0.PartnerItem
           a(href='https://www.lsesu.com/activities/societies/society/10443/')
             img(src='images/partners/lse.png')
           h5.theme-color  Applicable Mathematics Society
           h5.theme-color  London School of Economics
      .col-xs-8.col-xs-offset-2.col-lg-2.col-lg-offset-0.PartnerItem
           a(href='https://www.union.ic.ac.uk/rcsu/mathsoc/')
             img(src='images/partners/imperial.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  Imperial College London
      .col-xs-8.col-xs-offset-2.col-lg-2.col-lg-offset-0.PartnerItem
           a(href='https://invariants.org.uk/')
             img(src='images/partners/oxford.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  University of Oxford
      .col-xs-8.col-xs-offset-2.col-lg-2.col-lg-offset-0.PartnerItem
           a(href='http://warwickmaths.org/')
             img(src='images/partners/warwick.png')
           h5.theme-color  Mathematics Society
           h5.theme-color  University of Warwick
