#schedule.container-fluid.grey-back.text-center
    .row
        h1 Schedule
    br
    .row
      .col-lg-10.col-lg-offset-1.schedule-back 
        .col-lg-2
          img.img-circle(src='images/general/avatar.jpg' height='100px')
        .col-lg-2
          h5 25 Mar
          h5 2016
          h5 09.10 PM
        .col-lg-4
          h4 Update Design and UX support
        .col-lg-4
          h5 Venue: Huxley Building, Imperial College London.
