#segments.container-fluid.white-back.text-center
    .row
        h1 Event Segments
    br
    .row
      .col-lg-5.col-lg-offset-1
        .col-lg-5.col-lg-offset-1
          .row
            img.img-circle(src='images/general/avatar.jpg' height='100px')
          .row
            h4 Keynote Speakers
          .row
            p Throughout the event you will have a chance to experience an extended TEDx style talk from top researches and professionals from field of Mathematics. Field medalist, a mathemagician and others are expected to join us!
        .col-lg-5.col-lg-offset-1
          .row
            img.img-circle(src='images/general/avatar.jpg' height='100px')
          .row
            h4 Panel Discussions
          .row
            p To change perception of Mathematics we are introducing a new way of presenting the subject to the students - through panels. We plan to host 3 different discussions, from the traditional questions troubling scientists for centuries to the most modern hot topics concentrating on recent developments and applications of Maths

      .col-lg-5
        .col-lg-5
          .row
            img.img-circle(src='images/general/avatar.jpg' height='100px')
          .row
            h4 Workshops
          .row
            p For many Mathematics might be hard to understand without pen-and-paper or an own problem to solve. That's why we are introducing workshops. Have you ever wondered what are the numbers behind a Rubik's cube? Or wanted to challenge chess Grand master in simulatenous exhibition? Or watned to learn probabilities and Maths behind poker?  At least few more reasons to join us 
        .col-lg-5.col-lg-offset-1
          .row
            img.img-circle(src='images/general/avatar.jpg' height='100px')
          .row
            h4 Networking
          .row
            p Whether you want to pursue an academic career in research, or professional with a big chunk of Maths, one thing which is sure are people. Getting to know like-minded peers in a stimulating environment will help you build connections for life.
